<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="banner">
      <div id="avatar"><%= link_to image_tag('avatar.png'), home_path, method: :get %></div>
      <div class="nav">
        <div id="link">
          <%= link_to t(:home), home_path, method: :get %>
          <%= link_to t(:archive), "#" %>
          <%= link_to t(:tag), "#" %>
          <%= link_to t(:site), "#", method: :get %>
          <%= link_to t(:about), "#", method: :get %>
        </div>
        <div id="i18n">
          <%= form_tag(home_path, method: :get) do %>
            <%#= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale), onchange: 'this.form.submit()' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="flash-notice"></div>
    <%= yield %>

    <footer class="contact">
        <%= link_to image_tag('github.png'), "https://github.com/rennyallen", title: 'github', target: "_blank" %>
        <%= link_to image_tag('email.png'), "mailto:rennyallen@hotmail.com", title: 'mail to me' %>
        <%= link_to image_tag('instagram.png', size: '45x45'), "https://www.instagram.com/rennyallen/", title: "instagram", target: "_blank" %>
        <%= link_to image_tag('twitter.png'), "https://twitter.com/Rennyallen20", title: 'twitter', target: "_blank" %>
      <div class="rights" style="padding: 8px; text-align: center;">2018 tate_yang</div>
    </footer>
  </body>
</html>
